.div1 {
    width: 250px;
	height: 150px;
	background-color: gray;
	color: white;
	font-size: 30px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.div2-2 {
	padding: 5px 0;

}

.textarea {
	/* width: 100px; */
}

.div2-4 {

	display: flex;
	align-items: center;
}

.btt {

	height: 30px;
}

.div3 {
	width: 190px;
	height: 50px;
	background-color: rgb(94, 71, 199);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.div4 {
	padding: 5px 0;

}

.div4-1 {
	padding: 5px 0;
}

.div4-2 {
	padding: 5px 0;
}

.div4-3 {
	padding: 5px 0;
}

textarea {
	width: 350px;
	height: 100px;
}

.div5 {
	width: 250px;
	height: 170px;
	font-size: 20px;
	background-color: rgb(75, 116, 190);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div5-1 {
	width: 100px;
	height: 100px;
	background-color: rgb(169, 126, 190);
	font-size: 60px;
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
}